
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f3f3f3;
}

header {
    background: #111;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #ff4d4d;
    border-radius: 6px;
}


.titulo-pagina {
    text-align: center;
    margin: 30px 0;
    font-size: 32px;
}


.carros-grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.carro-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.carro-card:hover {
    transform: scale(1.03);
}

.carro-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.carro-card h3 {
    padding: 15px;
}

.carro-card .preco {
    font-weight: bold;
    padding: 0 15px;
    margin-bottom: 10px;
}

.btn-detalhes {
    display: block;
    text-align: center;
    background: #ff4d4d;
    color: white;
    padding: 12px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-detalhes:hover {
    background: #ff1a1a;
}
